* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf');
}

body {
  background-color: rgb(0, 3, 34);
  font-family: sans-serif;
}

h1 {
  color: #fff;
  font-family: 'Montserrat-Regular';
}
.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(209, 209, 209);
}
/* header style */

header {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  background-color: rgb(201, 201, 201);
}

.header-options {
  display: flex;
  margin-left: auto;
}

.loc-section {
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.loc-section p {
  font-family: 'Montserrat-Regular';
}

/* main section style */

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 1rem;
}

#map {
  height: 400px;
  flex-basis: 60%;
}

.weather-container {
  flex-basis: 40%;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat-Regular';
}
/* footer style */

table {
  font-family: 'Montserrat-Regular';

  border-spacing: 25px;
}

.loc-table span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loc-table {
  display: flex;
}

footer {
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

/* search style */

.searchTerm {
  border: 3px solid #339dff;
  border-right: none;
  padding: 5px;
  height: auto;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  border: 1px solid #339dff;
  background: #339dff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-div {
  height: 60%;
  display: flex;
}

.search {
  width: 100%;
  display: flex;
  margin-left: auto;
}

/* buttons */

.btns {
  display: inline-block;
  margin-right: 10px;
  background: #339dff;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 38px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  text-align: center;
}

.btns:hover {
  background: #fff;
  color: #339dff;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.myButton1 {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
}
.myButton1:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}
.myButton1:active {
  position: relative;
  top: 1px;
}
